/Aula05/nbproject/private/
/Aula05/build/
/Aula05/dist/
/Aula6/nbproject/private/
/Aula6/build/
/Aula7/nbproject/private/
/Aula7/build/
/Aula7/dist/
/Aula9/nbproject/private/
/Aula9/build/
/Aula9/dist/